#Credenciales y configuracion local - no mostrar contraseñas al repositorio
*.cnf 
.env
config.local.*

#Volcados y respaldos pesados
*.dump
backup/
*.sql.gz

# DBeaver
.dbeaver/
.metadata/

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini